{# File: src/Fcj/MouvsBundle/Resources/views/Default/path.html.twig
 #
 #
 #
 #}
{% extends 'MopaBootstrapBundle::layout.html.twig' %}


{% macro humanSize(bytes) %}
    {% set units = {'GB': 9, 'MB': 6, 'KB': 3, 'B': 0} %}
    {% set unit = '' %}
    {% for u, pow in units if unit == '' %}
        {% if bytes >= 10**pow %}
            {% set bytes = bytes / 10**pow %}
            {% set unit = u %}
        {% endif %}
    {% endfor %}
    {% set bytes = ((bytes*1000) // 10) / 100 %}
    {% if unit == 'GB' %}<b>{% endif %}
    {{ bytes }}&nbsp;{{ unit }}
    {% if unit == 'GB' %}</b>{% endif %}
{% endmacro %}

{% import _self as m %}

{% set totalSize = 0 %}

{# block content_content #}
{% block content %}

    <ul class='pager'>
        <li><a href="{{ path("files_by_path", {'path': path, 'page': page-1, 'limit': limit}) }}">Previous</a></li>
        <li><a href="{{ path("files_by_path", {'path': up_path, 'limit': limit}) }}">Up</a></li>
        <li><a href="{{ path("files_by_path", {'path': path, 'page': page+1, 'limit': limit}) }}">Next</a></li>
    </ul>

    <table class='table table-striped table-condensed'>
        <thead>
        <tr>
            <th>#</th>
            <th>File</th>
            <th class='text-right'>Size</th>
            <th>Path</th>
        </tr>
        </thead>
        <tbody>
        {% for i, f in files %}
            {% set size = f.size %}
            {% set totalSize = totalSize + size %}
            <tr>
                <th>{{ (page-1)*limit + i+1 }}</th>
                <td>{{ f.name }}</td>
                <td class='text-right'>{{ m.humanSize(size) }}</td>
                <td>
                    <a href="{{ path("files_by_path", {'path': f.path, 'limit': limit}) }}">{{ f.path }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr class='info'>
            <td></td>
            <td></td>
            <td>{{ m.humanSize(totalSize) }}</td>
            <td></td>
        </tr>
        </tfoot>
    </table>
{% endblock %}